@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-figtree: 'Figtree', sans-serif;
  
  --background: #121212;
  --surface: #181818; 
  --border: #2A2A2A;
  --foreground: #FFFFFF;
  --muted: #B3B3B3;
  --accent: #1DB954;
  
  /* Safe Area Variables */
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

body {
  color: var(--foreground);
  background: var(--background); /* Fallback */
  overscroll-behavior: none; /* Point 9: Disable scroll bounce */
  font-family: var(--font-figtree); /* Explicitly set default font */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar on mobile devices */
@media (max-width: 768px) {
  html, body, * {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE/Edge */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none !important;
    width: 0px;
    background: transparent; 
  }
}
